<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.euiweonjeong.euandroidbaseframework"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <application>
        <uses-library android:name="com.google.android.maps" android:required="true"/>

        <activity android:name=".SlidingMenuActivity" />
        <activity android:name=".SlidingFragmentActivity" />
        <activity android:name=".SlidingListActivity" />
        <activity android:name=".SlidingPreferenceActivity" />
    </application>
</manifest>